*{
    margin: 0;
    padding: 0;
    color: white;
}
header{
    background-color: blue;
    height: 150px;
    
}
.logo{
    display: inline-block;
    margin-right: 40%;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2%;
}
a{
    margin-top: 3%;
    margin-right: 10%;
    text-decoration: none;
}
body{
   background-color: #f7f7f7;;
}
footer{
    background-color: black;
}

.hero-img{
    background-image: url(Nepali.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    height: 80vh;
    font-size: 90px;
}